{% extends "../layout.html" %}  

{% block script %}  
<script src ="/js/common.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock %}  

{% block style %}  
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
{% endblock %}  


{% block content %}  


<!-- swiper 영역 S -->
<section class="swiper">
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide banner">
              <img src="img/tour1.jpg" alt="">
          </div>
          <div class="swiper-slide banner">
            <img src="img/tour2.jpg" alt="">
          </div>
          <div class="swiper-slide banner">
            <img src="img/tour3.jpg" alt="">
          </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
 </section>
  <!-- swiper 영역 E -->

  {% include 'main/_latest_photo.html' %}

   <!-- 예약/ 1대1 문의 S -->
<div class="quick_bar">
  <ul>
  <li><a href="/travel" class ="qna">여행상품보기</a></li>
  <li><a href="/chat" class="go_reserve">동행 구하기</a></li>
</ul>
</div>
  <!-- 예약/ 1대1 문의 E -->
{% endblock %}  