{% extends "../layout.html"%} 

{% block style %} 
<link rel="stylesheet" href="/css/board.css">
{% endblock %}  

{% block content %}  
<div class="board_main">
    <div class="box west_europe">
        <a href="/board/list/서유럽">
            <div class="inner">
            <img src="img/west_europe.jpg" alt="">
            </div>
            <div class="title">서유럽 게시판</div>
            
        </a>
    </div>

    <div class="box east_europe">
        <a href="/board/list/동유럽">
            <div class="inner">
            <img src="img/east_europe.jpg" alt="">
            </div>
            <div class="title">동유럽 게시판</div>
          
        </a>
    </div>

    <div class="box north_europe">
        <a href="/board/list/북유럽">
            <div class="inner">
            <img src="img/north_europe.jpg" alt="">
            </div>
            <div class="title">북유럽 게시판</div>
            
        </a>
    </div>

    <div class="box domestic">
        <a href="/board/list/국내여행">
            <div class="inner">
            <img src="img/domestic.jpg" alt="">
            </div>
            <div class="title">국내여행 게시판</div>
           
        </a>
    </div>

    <div class="box southeast_asia">
        <a href="/board/list/동남아시아">
            <div class="inner">
            <img src="img/southeast_asia.jpg" alt="">
            </div>
            <div class="title">동남아시아 게시판</div>
            
        </a>
</div>
</div>
{% endblock %}  
